.search_input{
    width: 30%;
    height:2.5rem;
    background-color: white;
    margin-bottom: 1rem;
}

.display_image img{
    height: 1.5rem;
    /* width: 10%; */
    border-radius: 50%;
    margin-right: .5rem;
}
.display_flex{
    display: flex;
/* border: 2px solid black; */
/* width: 50%; */
align-items: center;
margin-left: 1rem;
}
.start{
width: 60%;
}
.end{
    width: 40%;
}
.display_table{
    text-align: center;
  justify-content: center;
    margin: auto;
    width: 30%;
    height:3.5rem;
    background-color: white;
    margin-bottom: .5rem;
    justify-content: space-between;
}
.display_status_green{
    height: .5rem;
    width: .5rem;
    border-radius:50% ;
    background-color: green;
    margin-right: .5rem;
}
.display_status_grey{
    height: .5rem;
    width: .5rem;
    border-radius:50% ;
    background-color: grey;
    margin-right: .5rem;
}


p{
    
    margin: 0 2px 5px 2px;
    font-size: 80%;
    font-weight: bold;
}

/*************   user Card   **********************/


.userCard_text{
    margin: 0 0 1rem;
     
}

.userCard_title{
    color: #9A9CA0;
}

/* .searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  } */

  .search {
   display: flex;
   width: 30%;
   background-color: white;
   margin: 1.5rem auto;
   padding: 2px 0;
   align-items: center;
   

}
  /* .searchInputs {
   mar
  } */
  

  
  .searchIcon {

 margin-left: 1rem;
 margin-right: 1rem;
  } 
  
  input{
    border: none;
    outline: none;
    height: 4rem;
    width: 80%;
  }

